/* Keyframes */

@keyframes blink-critical {
	to {
		/*color: @white;*/
		background-color: @critical;
	}
}

/* Styles */

/* Colors (dracula) */

@define-color bg #282a36;
@define-color black #282a36;
@define-color cl #44475a;
@define-color fg #f8f8f2;
@define-color comm #6272a4;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #bd93f9;
@define-color white #f8f8f2;

/* Colors (Elia) */
@define-color purple #7c6792;
@define-color cyan #c3fafc;
@define-color cl #dccdd5;
@define-color comm #453d7d;
@define-color bg #f5eff3;
@define-color bgt rgba(245, 239, 243, 0.75); /*#f5eff34b;*/
@define-color fg @bg;
@define-color yellow #d4c95c;
@define-color orange #fcce90;


/* @define-color#5b5187; */
@define-color pink #e89de2;


@define-color warning 	@orange;
@define-color critical	@red;
@define-color mode	@bg;
@define-color unfocused	@purple;
@define-color focused	@bg;
@define-color inactive	@yellow;
@define-color sound	@purple;
@define-color network	@bg;
@define-color memory	@purple;
@define-color cpu	@bg;
@define-color temp	@green;
@define-color layout	@yellow;
@define-color battery	@bg;
@define-color date	@purple;
@define-color brightnests	@cl;
@define-color time	@bg;
@define-color title	@purple;
@define-color fulltrans rgba(0, 0, 0, 0);
@define-color arrow1    @bg;
@define-color arrow2    @purple;

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	-gtk-icon-shadow: none;
}

/* The whole bar */
#waybar {
	background: @bgt; /*rgba(249,244, 239, 0.75);  #282828e0 */
	color: @white;
	font-family: JetBrains Mono, Siji;
	font-size: 13pt;
	/*font-weight: bold;*/
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris {
	padding-left: 8pt;
	padding-right: 8pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}

/* And now modules themselves in their respective order */

/* Current sway mode (resize etc) */
#mode {
	color: @white;
	background: @mode;
}

/* Workspaces stuff */
#workspaces button {
	/*font-weight: bold;*/
	padding-left: 2pt;
	padding-right: 2pt;
	color: @bg;
	background: @unfocused;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
	color: @cyan;
	background: @comm;
}

/* Active (on focused output) */
#workspaces button.focused {
	color: @black;
	background: @focused;
}
/* And for Hyprland */
#workspaces button.active {
	color: @black;
	background: @focused;
}

/* Contains an urgent window */
#workspaces button.urgent {
	color: @black;
	background: @warning;
}

/* Style when cursor is on the button */
#workspaces button:hover {
	background: @black;
	color: @white;
}

#window {
	/* margin-right: 35pt; */
	/* margin-left: 35pt; */
	background: @purple;
}

#pulseaudio {
	background: @sound;
	color: @white;
}

#network {
	background: @network;
	color: @black;
}

#memory {
	background: @memory;
	color: @white;
}

#cpu {
	background: @cpu;
	color: @black;
}

#temperature {
	background: @temp;
	color: @black;
}

#language {
	background: @layout;
	color: @black;
}

#battery {
	background: @battery;
	color: @black;
}

#tray {
	background: @date;
}

#clock.date {
	background: @date;
	color: @white;
}

#clock.time {
	background: @time;
	color: @black;
}


#custom-star {
	font-size: 20pt;
	color: @purple;
	background: @fulltrans;
}
#custom-arrowL1 {
	font-size: 24pt;
	color: @arrow1;
	background: @arrow2;
}
#custom-arrowLT {
	font-size: 24pt;
	color: @arrow2;
	background: @fulltrans;
}
#custom-arrowL2 {
	font-size: 24pt;
	color: @arrow2;
	background: @arrow1;
}
#custom-arrowR1 {
	font-size: 24pt;
	color: @arrow1;
	background: @arrow2;
}
#custom-arrowRT {
	font-size: 24pt;
	color: @arrow2;
	background: @fulltrans;
}
#custom-arrowR2 {
	font-size: 18pt;
	color: @arrow2;
	background: @arrow1;
}

#custom-arrow1 {
	font-size: 18pt;
	color: @time;
	background: @date;
}

#custom-arrow2 {
	font-size: 18pt;
	color: @date;
	background: @layout;
}

#custom-arrow3 {
	font-size: 18pt;
	color: @date;
	background: @battery;
}

#custom-arrow4 {
	font-size: 18pt;
	color: @battery;
	background: @temp;
}

#custom-arrow5 {
	font-size: 18pt;
	color: @date;
	background: @cpu;
}

#custom-arrow6 {
	font-size: 18pt;
	color: @cpu;
	background: @memory;
}

#custom-arrow7 {
	font-size: 18pt;
	color: @memory;
	background: @network;
}

#custom-arrow8 {
	font-size: 18pt;
	color: @network;
	background: @sound;
}

#custom-arrow9 {
	font-size: 18pt;
	color: @sound;
	background: transparent;
}

#custom-arrow10 {
	font-size: 18pt;
	color: @unfocused;
	background: transparent;
}

#custom-arrow11 {
	font-size: 18pt;
	color: @battery;
	background: @comm;
}

#custom-arrow20 {
	font-size: 18pt;
	color: @comm;
	background: rgba(0, 0, 0, 0.0);
}

#custom-arrow21 {
	font-size: 18pt;
	color: @comm;
	background: rgba(0, 0, 0, 0.0);
}
